<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test-Now</title>
    <link rel="stylesheet" href="/css/form-style.css">
  </head>
  <body>
  <form action="/start" method="post">
    <div class="navBar">
      <h1>Sympto-Check</h1>
    </div>
    <h1 id="titleCurPage">Introduction</h1>
    <div class="mainCon">
        <div class="Intro">
            <p id="start" style="font-size: larger;">  
                <span>Hello!</span></br><br><br>
                Welcome to Sympto Check!</br>
                You'r about start a short, safe and completely unanymous health checkup. Your answers will be carefully analysed and you'll learn about possible causes of your symptoms .<br><br>
                Please read <a class="inLink" href="/forms-p-2">Terms and Conditions</a> before moving forward!<br><br>
                <button type="submit">Next</button> 
            </p>
            <div id="start" class="side">
                <center><img id="abimg" src="/images/test-now-page-introduction.png" alt="Sympto-Check" height="180px" width="180px">
                </center>
            </div>
        </div>
    </div>
  </form>
  </body>
</html>
