<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms of Service</title>
    <link rel="stylesheet" href="/css/form-style.css" />
  </head>
  <body>
    <div class="navBar">
      <h1>Sympto-Check</h1>
    </div>
    <section>
        <center>

            <div class="Intro">
                <h1 id="titleCurPage" style="font-size : 3rem ;margin-bottom:30px;">Terms of Service</h1>
                <div class="start" style="font-size: 22px;">
                    <ul style="height: 230px; overflow:auto; padding-right: 5px;">
                        <dl>
                            <dt>Before using the service, kindly read the terms and service.<br>
                                Remember that: <br></dt>
                            <li style="margin-left: 20px;">
                                <dd>
                                    Checkup isn't a diagnosis. Checkup is not a qualified medical opinion and
                                    should be
                                    considered for informational purpose only!
                                </dd>
                            </li>
                            <li style="margin-left: 20px;">
                                <dd>
                                    Your data is safe. Information that you provide is anonymous and not shared
                                    with anyone.
                                </dd>
                            </li>
                            <li style="margin-left: 20px;">
                                <dd>
                                    Do not use in Emergency. In case of health emergency, call your local
                                    emergency number
                                    immediately.
                                </dd>
                            </li>
                        </dl>
                    </ul><br>
                    <input type="checkbox" id="Term1" name="" value="">
                    <label for="Term1" style="font-size: smaller;"> I read and accept Terms and Service and
                        Privacy Policy.</label><br>
                    <input type="checkbox" id="Term1" name="" value="">
                    <label for="Term1" style="font-size: smaller;"> I agree to the processing of my health
                        information for the purpose of performing the interview.</label><br><br>
                    &emsp;<button style="margin-bottom: 5px;">Next</button>

                </div>
                <div class="start" id="side">
                    <center><img id="abimg" src="https://cdn-icons.flaticon.com/png/512/1022/premium/1022082.png?token=exp=1649672372~hmac=8db824159460ca129f444c42dcb63560" alt="Sympto-Check" height="250px" width="250px">
                    </center>
                </div>
            </div>
        </center>
    </section>
  </body>
</html>
