<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Sympto-Check</title>
    
  </head>
  <body>
  <form action="/" method="post">
    <div class="navBar">
      <h1 class="" id="logo">
        <strong><a href="index.html">Sympto-Check</a></strong>
      </h1>
      <img
        class="toggleIcon"
        src="https://cdn-icons-png.flaticon.com/128/2099/2099153.png"
        alt=""
      />
      <ul class="navBarUl">
        <li><a href="#">Home</a></li>
        <li><a href="#head">About</a></li>
        <li><a href="#abimg">Know More</a></li>
        <li><button type="submit" id="testNow">Test Now</button></li>
      </ul>
    </div>
    <div class="topContainer" id="top">
      <div class="mainCon">
        <div class="greet">
          <span class="a" class="a"><strong>Welcome</strong></span>
          <span class="a"><strong>to</strong></span>
          <span class="b"><strong>Sympto-Check</strong></span>
          <img
            src="/images/homepage-welcome.png"
            alt=""
          />
        </div>
        <div class="info">
          <section>
            <center>
              <div class="about">
                <h1 id="head">About us</h1>
                <p id="text">
                  Hello !<br>

                    We are Sympto-Check time and we help you out in understanding the disease 
                    you might have on the basis of symptoms you have.
                    We at Sympto-Check are a team of five people who created and designed 
                    this website. This website is designed using html, css, and vanilla JS 
                    for frontend and MongoDB, Node JS and EJS for backend.
                    We also used Figma (designing software) for this website.
                    The team had two members working on Frontend and two members on
                    the backend and one member collected all the data regarding the diseases and symptoms.
                </p>
                <div id="text">
                  <center>
                    <img
                      id="abimg"
                      src="/images/home-page-about-us.png"
                      alt="Sympto-Check"
                      height="250px"
                      width="250px"
                    />
                  </center>
                </div>
              </div>
            </center>
          </section>
        </div>
        <div class="info">
          <section>
            <center>
              <div class="about">
                <h1 id="head">Know More</h1>
                <p id="text">
                  We at Sympto - Check  give you information about the disease(s) you might have
                  on the  basis of symptoms you have. <br>
                  If you wish to know more about the diseases, you can always head to one of the following websites: <br>

                  Useful Links :<br>

                  1. National Institutes of Health (www.nih.gov)<br>
                  2. KidsHealth (kidshealth.org)<br>
                  3. WedMD (www.webmd.com / www.boots.webmd.com)<br>
                  4. Drugs.com (www.drugs.com)<br>
                  5. Yahoo! Health (health.yahoo.net)<br>
                  6. WeightWatchers (www.weightwatchers.com)<br>
                  7. NHS Direct (www.nhsdirect.nhs.uk)<br>
                  8. NetDoctor (www.netdoctor.co.uk)<br>
                  9. MayoClinic (www.mayoclinic.com)<br>
                  10. Men’s Health (www.menshealth.com)<br>



                </p>
                <div id="text">
                  <center>
                    <img
                      id="abimg"
                      src="/images/home-page-know-more.png"
                      alt="Sympto-Check"
                      height="250px"
                      width="250px"
                    />
                  </center>
                </div>
              </div>
            </center>
          </section>
        </div>
      </div>
    </div>
    <div class="footerMain">
      <h3>Sympto-Check</h3>
      <ul type="none">
        <li><a href="#">Home</a></li>
        <li><a href="#head">About</a></li>
        <li><a href="#abimg">Know More</a></li>
        <li><button type="submit">Test</button></li>
      </ul>
      <a href="#logo"
      >
      <img src="https://cdn-icons.flaticon.com/png/128/4153/premium/4153210.png?token=exp=1648459062~hmac=432c81925721989ede8cb2997231b934" alt=""></a>
    </div>
  </form>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
